<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Amazon</span>
      <!-- <input type="text"> -->
      <span class="example-spacer"></span>
      <!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
     
      <mat-icon routerLink="cart" matBadge="{{totalCartItem}}" matBadgeColor="warn" class="material-icons">shopping_cart</mat-icon>
      
    </mat-toolbar>
  </p>
  