img{
    width: 150px;
    height: 150px;
    text-align: center;
}
.card{
    align-items: center;
}
.card-body{
    padding-bottom: 0;
}
a{
    cursor: pointer;
}

.row-gap--20{
    row-gap: 20px;
}
.btn{
    background-color: #3f51b5;
}
.sucess{
    color: green;
}
.denger{
    color: red;
}
.b{
    color: blue;
}
.img-section{
    
}

.product-header-img{
    object-fit: contain;
    height: 500px;
    width: 100%;
}
/* button */
.button-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom:20px
}

/* carousel */


.carousel-caption {
    background: #00000082;
    border-radius: 10px;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
   background-color: black;
   border-radius: 5px;
}

ngb-carousel{
    margin-bottom: 3rem;
}


@media(max-width:768px){
    .row-cols-2{

    }
}